<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tetline_detail.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper_big">
        <div class="wrapper_mobile">
            <h1>테트라인 상세</h1>
            <div>
                <p>라인 이름</p>
                <div>{{ line.line_name }}</div>
            </div>

            <div>
                <p>라인 위치</p>
                <div>{{ line.location }}</div>
            </div>

            <div>
                <p>LED 동작 여부</p>
                <div>{{ line.led_power }}</div>
            </div>

            <div>
                <p>소리 동작 여부</p>
                <div>{{ line.sound_power }}</div>
            </div>

            <a href="{% url 'tetline_list' %}">전체 목록으로 돌아가기</a>

        </div>
    </div>
    
</body>
</html>