<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'start.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper_big">
        <div class="wrapper_mobile">
            <h1>스마트해상물류</h1>
            <h2>테트라부이 및 테트라인 관리 앱</h2>
            <a href="{% url 'tetrabuoy_list' %}">시작</a>




            <input type="checkbox" id="toggle" hidden> 
            <label for="toggle" class="toggleSwitch">
                <span class="toggleButton"></span>
            </label>
            




        </div>
    </div>
</body>
</html>